{{#partial  "title"}}
    Heroes
{{/partial}}

{{#partial "content"}}
    {{> navBar.hbs }}

    <div class="banner jumbotron h-50"></div>

    {{#if allHeroes }}
        {{#each allHeroes }}
            <P> test {{ heroName }}</P>
            <P> test {{ power }}</P>
            <P>test {{ weakness }}</P>
            <P>test {{ imageUrl }}</P>


        {{/each}}
    {{else}}
        <div class="alert alert-danger" role="alert">
            Error Creating The Squad Object. Go to the <a href="/" class="alert-link">HomePage</a>.
        </div>
    {{/if}}


    <style>

  .banner {
    width: 90%;
    margin: 10px auto;
    border-radius: 24px;
    background-image: url(https://wallpaperaccess.com/full/1158056.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }
    </style>

{{/partial}}


{{> layout.hbs}}