{{#partial "title"}}
    Heroes Lounge
{{/partial}}

{{#partial "content"}}
    <div class="container p-3 bg-success">
        <h1>Hello Ted</h1>
    </div>


    {{#if heroes}}
        {{#each  heroes}}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ heroName }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ power }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ weakness }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ imageUrl }}</h6>

                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>

                </div>
            </div>
        {{/each}}
    {{else}}
        <p>No Post</p>
    {{/if}}


{{/partial}}

{{> layout.hbs }}